body {
    background-color: coral;
}

.wrap {
    background: black ;
}

.box {
    width: 5px;
    height: 5px;
    padding: 10px;
    margin: 5px;
    vertical-align: middle;
    display: inline-block;
    animation: example 3s infinite;
}

@keyframes example {
    0%   {
        background-color: red;
        transform: rotateX(150deg); 
    }
    25%  {
        background-color: yellow;
        transform: rotateY(150deg); 
    }
    50%  {
        background-color: blue;
        transform: rotateZ(90deg)
    }
    100% {
        background-color: green;
    }
  }
  