body {
  background-color: 
  #CEFEF6;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: antiquewhite;
  text-align: center;
}

.instructions {
  padding-bottom: 30px;
}

hr {
  border-color: black;
  border-width: 0.5px;
}