body {
    background-color:   #3B8BEB;
}

nav {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.intro {
    text-align: center;
    color: #F3D250;
    height: 90%;
    width: 100%;
    padding: 400px;
    background-color: #3B8BEB;
}

.know {
    font-size: 40px;
}

#connect {
    padding: 30px;
    width: 100%;
    text-align: center;
}

.socials {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #B23850;
    border-radius: 10px;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

footer {
    margin-top: 500px;
    background-color: #8590AA;
    padding: 30px;
}

