body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.hello {
    width: 100%;
    height: 75vh;
    background-color:#3B8BEB;
    font-size: 7vw;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    color: white;
    text-align: center;
    padding-top: 25vh;
}

.fly {
    animation: fly 1s;
    animation-timing-function: ease-in;
}

#change {
    animation: change 5s infinite;
    animation-timing-function: cubic-bezier(0, 0.99, 0.26,-0.54);

}

@keyframes fly {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes change {
    0% {
        color: white;
    }
    50% {
        color: black;
    }
    100% {
        color: white;
    }
}

.know {
    border: 2px solid white;
    font-size: 5vw;
    font-weight: 900;
    display: inline-block;
    color: white;
    background-color: #3B8BEB;
    background: linear-gradient(to left, #3B8BEB 50%, white 50%) right;
    transition: .5s ease-out;
    background-size: 200%;

}

button:hover {
    background-position: left;
    color: #3B8BEB;
}

.note {
    background-color: #C6FF7F;
    color: #467D00;
    font-size: 2vw;
    border: 1px solid #467D00;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 1vh;
    border-radius: 1%;
    margin: 5vh;
}

.domain {
    background-color: #C6FF7F;
    color: #467D00;
    font-size: 2vw;
    border: 1px solid #467D00;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 1vh;
    border-radius: 1%;
    margin: 5vh;
}


