body {
   margin-top: 20px;
   margin-left: 25px;
   margin-right: 25px;
 }
 
 .instructions {
   margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th {
  border-top: 1px solid black;
  padding: 8px;
  background-color: lightgray;
}

td {
  text-align: left;
  border: 1px solid black;
  padding: 8px;
}

.card-header-title {
  font-size: 18px;;
}


