



.signup {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: blue;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 10;
    width: 60%;
    border-radius: 15px;
    margin: auto;
    position: relative;
    top: 50px;
}

.footer {
    text-align: center;
    font-family: Montserrat, sans-serif;
    background-color: #2b8bff;
    padding: 20px;
    width: 100%;
    padding: 10;
    padding-top: 150px;
}

hr {
    border-color: black;
    border-width: 0.1px;
    width: 98%;
}